<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='Base_Format.css')}}">
    <title>Document</title>
 
</head>
<body>
    Setup
    <H1>
        <button class="button" name = "prime" onclick="location.href= '/order/prime/-SETUP';"> prime </button>
    </H1> 
    <H2>
        <button class="button" name = "flush" onclick="location.href= '/order/flush/-SETUP';"> purge </button>
    </H2> 

</body>
</html>